<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<span class="MenuBar">
<a href="@helppage"><span id="msg_helppage">helppage</span></a>
</span>

<span class="PageTitle">
<H1><span id="msg_edit">Edit</span>: <span id=title></span></h1>
</span>

<span class="PageHeader">
</span>

<span class="PageBody">
<form method="post">
<textarea name="body" rows="15" cols="75"><span id=body>
</span></textarea>
<input type="hidden" name="p" value="@name">
<input type="hidden" name="c" value="s">
<input type="hidden" name="md5sum" value="@md5sum">
<input type="submit">
</form>
</span>

<span class="PageFooter">
</span>
