<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title id=title></title>
</head>
<body>
Edit: <span id="title"></span>
<hr>
<form method="post">
<textarea name="content" rows="15" cols="75"><span id=content>
</span></textarea>
<input type="hidden" name="p" value="@name">
<input type="hidden" name="c" value="s">
<input type="hidden" name="md5sum" value="@md5sum">
<input type="submit">
</form>

<ul>
<li>SamplePageを参考にして下さい。</li>
<li>リンクになる単語(ウィキネーム)は、 
WikiName または [[非空白]] の形式です。
  [[非空白]]の形式では、数字、英小文字、漢字が使用できます。
  リンク先が存在しないウィキネームは、 WikiName?と表示されます。
  ?をクリックすると編集を行えます。</li>
<li>インターウィキネームは、InterWikiName:WikiNameの形式です。
  InterWikiNameに使用できる名前は, InterWikiNameのページを参照してください。
  [[非空白]]の形式内でも:が含まれる名前は同様にインターウィキネームと
  して認識されサポートされます。
</li>
<li>名前空間が使えます。fooという名前のページで「./bar」という
リンクを作ると「foo/bar」というリンクになります。
「../bar」で「bar」になります。
</li>
<li>スペースとその後につづく*はリストになります。</li>
<li>スペースとその後につづく+は説明リストになります。</li>
<li>スペースとその後に続く 「(数字)」は列挙リストになります。 </li>
<li>二重のシングルクォート '' で囲まれた部分は強調になります。</li>
<li>三重のシングルクォート ''' で囲まれた部分はさらに強調になります。</li>
<li>{{{, }}} は それぞれ pre block になります。</li>
<li>.のみ行は改行， 空白の後行末の.は改行になります。</li>
<li>空行は改段落に置き換わります。</li>
<li>---- は、(水平線)に置き換わります。</li>
<li>http://, ftp://, news://, mailto: は、自動的にリンクになります</li>
<li>[URL description] は a タグ または img タグ になります。
  URLがimg:で始まっている場合はimg:以降がURLとして解釈されます。</li>
<li>テーブル は「||」で表を書いて下さい。</li>
<li>#command はプラグインです。</li>
<li> 「== 文字列 改行」 (= は2から6個) で見出しになります。</li>
</ul>

</body>
</html>
