<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<div class="MenuBar">
<a href="@recentpages"><span id="msg_recentpages">recentpages</span></a>
<a href="@allpages"><span id="msg_allpages">allpages</span></a>
<a href="@toppage"><span id="msg_toppage">toppage</span></a>
<a href="@helppage"><span id="msg_helppage">helppage</span></a>
</div>


<div class="PageTitle">
<H1><span id=title></span></h1>
(<span id="msg_ver_pre">Ver.</span><span id=revision></span><span id="msg_ver_post"></span>,
<span id="msg_modified_time">modifiedtime</span>: <span id=lastmodified></span>)
</div>

<div class="PageHeader">
<table class="history" border="1">
<tbody>
<tr>
<th><span id="msg_version">version</span></th>
<th><span id="msg_diff">diff</span></th>
<th><span id="msg_modified_time">modifiedtime</span></th>
<th><span id="msg_diff_from_current">diff from current</span></th>
<th><span id="msg_diff_from_previous">diff from previous</span></th>
</tr>
<tr id="logtable">
<td id="revision"><a href="@url"><span id="rev"></span></a></td>
<td id="diffline"></td>
<td id="timestamp"></td>
<td id="tonew"><a href="@url"><span id="text"></span></a></td>
<td id="toold"><a href="@url"><span id="text"></span></a></td>
</tr>
</tbody>
</table>
</div>

<div class="PageBody">
<span id="body"></span>
</div>

<div class="PageFooter">
</div>
