<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<span class="MenuBar">
<a href="@recentpages"><span id="msg_recentpages">recentpages</span></a>
<a href="@allpages"><span id="msg_allpages">allpages</span></a>
<a href="@toppage"><span id="msg_toppage">toppage</span></a>
<a href="@helppage"><span id="msg_helppage">helppage</span></a>
</span>

<span class="PageTitle">
<H1><span id=title></span></h1>
</span>

<span class="PageHeader">
</span>

<span class="PageBody">
<span id=body></span>
</span>

<span class="PageFooter">
</span>

