<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<div id="menubar">
<a href="@recentpages"><span id="msg_recentpages">recentpages</span></a>
<a href="@allpages"><span id="msg_allpages">allpages</span></a>
<a href="@toppage"><span id="msg_toppage">toppage</span></a>
<a href="@helppage"><span id="msg_helppage">helppage</span></a>
</div>

<div id="pagetitle">
<H1><span id=title></span></h1>
</div>

<div id="pageheader">
</div>

<div id="pagebody">
<span id=body></span>
</div>

<div id="pagefooter">
</div>

