<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<span class="MenuBar">
<a href="@edit"><span id="msg_edit">edit</span></a>
<a href="@recentpages"><span id="msg_recentpages">recentpages</span></a>
<a href="@allpages"><span id="msg_allpages">allpages</span></a>
<a href="@historypage"><span id="msg_historypage">historypage</span></a>
<a href="@diffpage"><span id="msg_diffpage">diffpage</span></a>
<a href="@rawpage"><span id="msg_rawpage">rawpage</span></a>
<a href="@toppage"><span id="msg_toppage">toppage</span></a>
<a href="@helppage"><span id="msg_helppage">helppage</span></a>
</span>

<span class="PageTitle">
<H1><span id=title></span></h1>
</span>

<span class="PageHeader">
</span>

<span class="PageBody">
<span id="body"></span>
</span>

<span class="PageFooter">
<span id="msg_lastmodified">lastmodified</span>: 
<span id=lastmodified></span><br>
WikiLinks:
<span id=wikilinks>
<span id=pname></span>
(<span id=modified></span>) 
</span>
</span>
